- @page = "dashboard"

/ Page
.site-center.center-page  
  = render :partial => "dashboard/top_menu", :locals => {:selected => "stars"}

  .col.size1of4
    / .list
    /   .menu
    /     %ul.stat.left.nav
    /       %li
    /         %a{:href => stars_path(:category => "健康知识")} 
    /           %span.data #{@contents.select {|i| i.category == "健康知识"}.nil? ? "0" : @contents.select {|i| i.category == "健康知识"}.size}
    /           健康知识 
    /       %li 
    /         %a{:href => stars_path(:category => "就医指南")} 
    /           %span.data #{@contents.select {|i| i.category == "就医指南"}.nil? ? "0" : @contents.select {|i| i.category == "就医指南"}.size}
    /           就医指南  
    /       %li 
    /         %a{:href => stars_path(:category => "治疗交流")}  
    /           %span.data #{@contents.select {|i| i.category == "治疗交流"}.nil? ? "0" : @contents.select {|i| i.category == "治疗交流"}.size}
    /           治疗交流 
    /       %li 
    /         %a{:href => stars_path(:category => "护理园地")}  
    /           %span.data #{@contents.select {|i| i.category == "护理园地"}.nil? ? "0" : @contents.select {|i| i.category == "护理园地"}.size} 
    /           护理园地
    /       %li 
    /         %a{:href => stars_path(:category => "用药常识")}  
    /           %span.data #{@contents.select {|i| i.category == "用药常识"}.nil? ? "0" : @contents.select {|i| i.category == "用药常识"}.size} 
    /           用药常识    


    .my-tags
      %h3 我的标签......
      - current_user.all_tags_with_count.each do |k,v|
        %span
          = link_to "#{k}(#{v})", stars_path(:tag => k)
          
  .col.size3of4 
    .margin-l30 
      - if params[:tag]
        %h2 标签：#{params[:tag]}
    .panel.margin-l30
      - @tagged.each do |item|
        .body{:style => "padding:20px;"}
          %h4
            #{link_to item.title}
          %p{:style => "color: #999;"} 
            %span #{item.created_at.strftime("%Y-%m-%d %H:%M:%S")}  
          %span #{truncate strip_tags(item.body), length: 140, omission: '.....'}
          %p
          - item.model_tags.each do |tag|
            - if tag.tagged_by_user(current_user.id)
              .tag{:style => "display:inline-block;"}
                .col.sizefit.tag_name
                  #{tag.name}
                .col.sizefit.tag_count
                  (#{tag.taggings_count})
            - else
              .foreign_tag{:style => "display:inline-block;"}
                .col.sizefit.tag_name
                  #{tag.name}
                .col.sizefit.tag_count
                  (#{tag.taggings_count})

          - case item.class.to_s
          - when "Video"
            .clickable.video{:src => "#{item.src}"}
              = link_to image_tag(item.thumb_url, :class=> "thumb"), show_community_video_url(item.community, item)
              .play_video
          
