/ %li{:id => dom_id(@video_list)}
%li{:id => "widget_#{@video_list.id}"}
  .introduction.panel.margin-b30
    .cell.handle
      .section-title.float-left #{@video_list.name}
      .widget-actions.float-right
        - if can? :update, @video_list.community        
          = link_to '全部', community_video_list_videos_path(@video_list.community, @video_list)
          = link_to '添加', new_community_video_list_video_path(@video_list.community, @video_list)
          %a.widget-setting-link{:href => "#", :id => "#{@video_list.id}-settings"} 设置
          = link_to '删除', url_for_event(:delete_widget, :id => @video_list.section.id, :widget_id => @video_list.id), :confirm => 'Are you sure?', :method => 'delete', :remote => true
      
      .widget-setting{"data-id" => "#{@video_list.id}"}
        = form_for @video_list, :url => community_video_list_url(@video_list.community, @video_list)  do |f|
          %p
            = f.text_field :name
          %p  
            = f.submit "保存"

    .col.sizefill
      %div{:id => dom_id(@video_list)}
        - @video_list.videos.each do |v|
          %p #{v.title}
          .stream
            .video{:src => "#{v.info.flash}"}
              %img{:src => "#{v.info.cover}", :width => 130, :height => 98}
              .play_video
               

  :javascript
    $(document).ready(function(){
      var video_list = $("#widget_#{@video_list.id}");
      setWidget(video_list);
      //
      $('.video').click(function(){
        if ($(this).children('iframe').length > 0) return;
        $(this).children().toggle(false); //Hide thumbnail and play button
        $(this).append('<iframe width="480" height="360" src="' + $(this).attr('src') + ' frameborder="0"></iframe>');
      });

      var self = this;
      $('.video').each(function() { //Revert any playing videos back to static images
        if (this != self && $(this).children('iframe').length > 0) {
          $(this).children('iframe').remove();
          $(this).children().toggle(true); //Show thumbnail and play button
        }
      });
    });         