- @healthportal = "active"

/ Page
.site-center.center-page  
  .page-head{:style => "margin-bottom:30px;"}
    %h2 我的日记
  .col.size2of3
    - @blogs.each do |b|
      .article.margin-b10
        %h4 #{link_to b.title, blog_path(b)}
        .col
          %small #{b.created_at.strftime("%Y-%m-%d %H:%M:%S")}
        .col
          - if first_image_url(b.body)
            .col.sizefit
              .margin-r10
                = image_tag first_image_url(b.body), size: "60x60"  
          .col.sizefill
            %p #{truncate strip_tags(b.body), length: 140, omission: '.....'}

  .col.sizefill
    .margin-l20
      = link_to '+ 写日记', new_blog_path(), :class => "button"