- @healthportal = "active"

/ Page
.site-center.center-page  
  .col.size2of3  
    %h2 #{@blog.title}
    %small 
      #{@blog.created_at.strftime("%Y-%m-%d %H:%M:%S")} 
    = render_widget :tags, :display, :content => @blog  
    %p #{raw @blog.body}
    .margin-t20
      - if @blog.user == current_user
        %span{:style => "padding-right: 4px;"} #{link_to '> 修改', edit_blog_path(@blog)}
        %span{:style => "padding-right: 4px;"} #{link_to '> 删除', blog_path(@blog), :method => "delete"}
      %span.float-right #{@blog.impressionist_count}人阅读
    .margin-t20  
      .col.sizefit.float-right
        = render_widget :like, :display, :instance => @blog  
      .col.sizefill
        = social_share_button_tag(@blog.title) 
    / .col  
    /   %p #{@blog.tags}


    #comments.margin-t30.col
      - @blog.comments.each do |c|
        - if c.persisted?
          .comment
            .col.sizefit.float-left
              = image_tag c.commenter.avatar_url(:thumb)
            .col.sizefill
              .margin-l20 
                .author #{c.created_at.strftime("%Y-%m-%d %H:%M:%S")}&nbsp;&nbsp;&nbsp;来自: #{c.commenter.name}
                #{simple_format c.body}
                - if c.commenter == current_user  
                  .op-links
                    .col.sizefit.float-right
                      #{link_to '删除', remove_comment_blog_path(@blog, c.id)}

    - if user_signed_in?        
      %p
        = form_tag comment_blog_path(@blog), :method => :get do
          %p
            = label_tag "你的回应"
          %p  
            = text_area_tag :comment, '', :size => "60x6" 
          %p
            = submit_tag '加上去'  

  .col.size1of3
    .margin-l30.margin-t20
      %h3{:style => "text-align:right"} #{@user.name}的日记   
      .my-list.margin-t20
        %ul.unstyled
          - @blogs.excludes(:id => @blog.id).each do |blog|
            %li{:style => "text-align:right;"} #{link_to blog.title, blog_path(blog)}           