/ Page
.site-center.center-page
  .auth-form  
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.error_notification
      .auth-form-header
        %h2 创建一个帐户
      .auth-form-body  
        .form-inputs
          = f.input :name, label: '用户名', :required => true, input_html: {class: 'input-block'}
          = f.input :email, label: '邮箱', :required => true, :autofocus => true, input_html: {class: 'input-block'}
          = f.input :password, label: '密码', :required => true, input_html: {class: 'input-block'}
          = f.input :password_confirmation, label: '密码确认', :required => true, input_html: {class: 'input-block'}
        %br
        .form-actions
          = f.button :submit, "注册"
    = render "devise/shared/links"
