- if poll.answered_by?(current_user)
  .cell.poll
    %h3 #{poll.title}
    %small #{poll.created_at}
    .margin-t10
      - poll.options.each do |option|
        .option #{option.name}
    .margin-t10
      %span 我已投票 
      #{link_to "查看结果(#{poll.answered_user_ids.count})", show_community_poll_path(poll.community, poll)}
       
- else      
  = form_tag answer_community_poll_path(poll.community, poll), :method => "get" do 
    .cell
      %h3 #{poll.title}
      = hidden_field_tag "poll[id]", poll.id
      - if poll.multiple_allowed
        - poll.options.each_with_index do |option, index|
          %p
            = check_box_tag "poll_answer[answer#{index}]", option.id
            #{option.name}
      - else 
        - poll.options.each do |option|
          %p
            = radio_button_tag "poll_answer[poll_option_id]", option.id
            #{option.name}
        
      %p
        = submit_tag "投票"  
        = link_to '查看结果', show_community_poll_path(poll.community, poll)
        = link_to '回应', show_community_poll_path(poll.community, poll)
