/ %li{:id => dom_id(@poll_set)}
.widget{:id => "widget_#{@poll_set.id}"}
  .introduction.panel.margin-b30
    .body
      .cell
        .section-title
          .handle
            #{@poll_set.name}
            %small{:style => "font-size: 80%"}
              ( #{link_to '全部', show_community_poll_set_path(@poll_set.community, @poll_set), :class =>'color-orange'}
              - if can? :update, @poll_set.community
                &middot;
                #{link_to '添加', new_community_poll_set_poll_path(@poll_set.community, @poll_set), :class =>'color-orange'} 
              )
          - if can? :update, @poll_set.community    
            .edit.color-grey
              %span.icon.icon-16.icon-cog 设置
            

        .widget-setting{"data-id" => "#{@poll_set.id}"}
          = form_for @poll_set, :url => community_poll_set_url(@poll_set.community, @poll_set) do |f|
            %p
              = f.label "应用名称:"
              = f.text_field :name
            %p
              = f.label "显示数量："
              = f.radio_button :limits, 2
              2
              = f.radio_button :limits, 5
              5
              = f.radio_button :limits, 10
              10
            %p  
              = f.submit "保存"
          %a.cancel 取消     
          = link_to '删除应用', url_for_event(:delete_widget, :id => @poll_set.section.id, :widget_id => @poll_set.id), :confirm => 'Are you sure?', :method => 'delete', :remote => true, :class => "delete" if can? :update, @poll_set.community      
    .body          
      .col.sizefill
        %div{:id => dom_id(@poll_set)}
          = render partial: "poll", collection: @poll_set.polls.newest.limit(@poll_set.limits)

                
  :javascript
    $(document).ready(function(){
      var poll_set = $("#widget_#{@poll_set.id}");
      setWidget(poll_set);
    }); 