/ %li{:id => dom_id(@forum)}
.widget{:id => "widget_#{@forum.id}"}
  .introduction.panel.margin-b30
    .body
      .cell
        .section-title
          .handle
            #{@forum.name} 
            %small{:style => "font-size: 80%"}            
              - if (can? :update, @forum.community) || (can? :participate, @forum.community)
                (
                #{link_to '发言', new_community_forum_topic_path(@forum.community, @forum), :class =>'color-orange'} 
                )
          - if (can? :update, @forum.community)
            .edit.color-grey
              %span.icon.icon-16.icon-cog 设置
       

        .widget-setting{"data-id" => "#{@forum.id}"}
          = form_for @forum, :url => community_forum_url(@forum.community, @forum) do |f|
            %p
              = f.label "应用名称:"
              = f.text_field :name
            %p
              = f.label "显示数量："
              = f.radio_button :limits, 10
              10
              = f.radio_button :limits, 20
              20
              = f.radio_button :limits, 30
              30  
            %p  
              = f.submit "保存"     
          %a.cancel 取消     
          = link_to '删除应用', url_for_event(:delete_widget, :id => @forum.section.id, :widget_id => @forum.id), :confirm => 'Are you sure?', :method => 'delete', :remote => true, :class => "delete" if can? :update, @forum.community    
    .body
      .col.sizefill
        .cell.forum
          %table.horizontal-border
            %tbody
              %tr
                %th.size3of8 话题
                %th.size2of8 作者
                %th.size1of8 回应
                %th.size2of8 更新时间
              - @forum.topics.newest.limit(@forum.limits).each do |t|
                %tr 
                  %td #{link_to t.title, show_community_topic_url(t.community, t)}
                  %td #{t.user.name}
                  %td #{t.comments_count}
                  %td #{t.last_updated_at.strftime("%Y-%m-%d %H:%M:%S")}

  :javascript
    $(document).ready(function(){
      var forum = $("#widget_#{@forum.id}");
      setWidget(forum);
    });            

        