/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right
      #{link_to "> 回#{@current_section.name}", community_section_url(@community, @current_section)}
    .col
      %h3 #{@column.name}
      - if (can? :update, @community)
        %p{:style => "text-align:right;"} #{link_to '+添加文章', new_community_column_article_path(@community, @column), :class =>'color-orange'}
      - @column.articles.newest.each do |article|
        .article.margin-b10
          %h4{:style => "background:#efe;"} #{link_to article.title, show_community_article_path(article.community, article)}
          .col
            %small #{article.created_at.strftime("%Y-%m-%d %H:%M:%S")}
          .col
            - if first_image_url(article.body)
              .col.sizefit
                .margin-r10
                  = image_tag first_image_url(article.body), size: "60x60"  
            .col.sizefill
              %p 
                #{truncate strip_tags(article.body), length: 140, omission: '.....'} 
                - if article.comments.size > 0
                  = link_to "(#{article.comments.size }回应)", show_community_article_path(@community, article, :anchor => "comments"), :class => "color-orange"

  .col.size1of3.margin-t20
    .margin-l20
      = render :partial => "shared/content_sidebar", :locals => {:widget => @column}                   
