/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right
      #{link_to "> #{@question.qa.name}", show_community_qa_url(@question.community, @question.qa)}
    .col
      %h3 #{@question.title}  
      %small #{@question.user.name} &middot; #{time_ago_in_words(@question.created_at).capitalize}前提问
      .col
        %p
          #{simple_format @question.body}
      .col.sizefit.float-right
        = render_widget :like, :display, :instance => @question  
      .col.sizefill
        = social_share_button_tag(@question.title)

      #answers
        - @question.answers.each do |a|
          #{a.content} &middot; #{a.user.name}

    - if user_signed_in? && @community.users.include?(current_user)       
      %p
        = form_tag answer_community_question_path(@community, @question), :method => :get do
          %p 你的回答......
          %p  
            = text_area_tag :answer, '', :size => "75x6" 
          %p
            = submit_tag '加上去'    


  .col.size1of3.margin-t20
    .margin-l20
      = render :partial => "shared/content_sidebar"          

