- if @activities.empty?
  %p{:style => "color:#999;"}
    只有加入社群，才会显示社群动态信息。快去#{link_to '浏览', '#'}并加入你感兴趣的社群吧！
- @activities.each do |activity|
  .support-group-feed.margin-b30
    - present activity, ActivityPresenter do |presenter|
      .col.sizefit.activity-image        
        - case presenter.activity.verb
        - when :new_article, :new_poll, :new_video
          = image_tag activity.the_target.logo_url(:thumb)
        - else 
          = image_tag activity.the_actor.avatar_url(:thumb)
      .col.sizefill
        .activity-content.margin-l20
          .color-grey  #{presenter.metadata}
          %h4
            #{presenter.text} 
          - if presenter.content? && first_image_url(activity.the_object.body)   
            .col.sizefit.float-right
              .margin-b10
                = image_tag first_image_url(activity.the_object.body), size: "80x80"
          .col.sizefill    
            .margin-r10 
              %span #{truncate strip_tags(activity.the_object.body), length: 60, omission: '.....'}
              


                  