- if @activities.empty?
  %p{:style => "color:#999;"}
    只有加入社群，才会显示社群动态信息。快去#{link_to '浏览', '#'}并加入你感兴趣的社群吧！
- @activities.each do |activity|
  .support-group-feed.margin-b20.border-bottom
    - present activity, ActivityPresenter do |presenter|
      .col.sizefit
        - case presenter.activity.verb
        - when :new_article, :new_poll, :new_video
          = image_tag activity.the_target.logo_url(:thumb), size: "48x48", :style => "margin-right:15px;padding-top:5px;"  
        - else 
          = image_tag activity.the_actor.avatar_url(:thumb), size: "48x48", :style => "margin-right:15px;padding-top:5px;" 

      .col.sizefill
        - if presenter.content? && first_image_url(activity.the_object.body)   
          .col.sizefit.float-right
            = image_tag first_image_url(activity.the_object.body), size: "80x80"
        .col.sizefill    
          .col.color-grey     
            #{presenter.metadata}
          .col                    
            .margin-r10
              %p #{presenter.text}
              %p #{truncate strip_tags(activity.the_object.body), length: 80, omission: '.....'}


                  