- @activities.each do |activity|
  .support-group-feed.margin-b20.border-bottom
    - present activity, ActivityPresenter do |activity_presenter|
      .col.sizefit
        / %span.icon.icon-file-alt.color-grey.no-margin{:style => "font-size: 26px;"}
        #{activity_presenter.icon}
      .col.sizefill
        .margin-l20
          .col.color-grey     
            #{activity_presenter.metadata}
          - if activity_presenter.content? && first_image_url(activity.the_object.body)   
            .col.sizefit.float-right
              = image_tag first_image_url(activity.the_object.body), size: "80x80"  
          .col.sizefill
            .margin-r20
              %p #{activity_presenter.text }            
              - if activity_presenter.content?  
                .mediaobject
                  .col.sizefit
                    = image_tag activity.the_actor.avatar_url(:thumb), size: "30x30"
                  .col.sizefill
                    %p #{truncate strip_tags(activity.the_object.body), length: 140, omission: '.....'} 

                  