/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right
      #{link_to "> 回#{@current_section.name}", community_section_url(@community, @current_section)}
    .col
      %h3 编辑公告栏
      = form_for @widget, :url => community_bulletin_url(@widget)  do |f|
        %p
          = f.text_area :body, :rows => "15", :class => "redactor"
        %p  
          = f.submit "更新"	

  .col.size1of3.margin-t20
    .margin-l20
      = render :partial => "shared/content_sidebar"      
    