/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right
      #{link_to "> 回#{@current_section.name}", community_section_url(@community, @current_section)}
    .col
      %h3 #{@poll_set.name}
      %div{:id => dom_id(@poll_set)}
        %ul
          - @poll_set.polls.newest.each do |poll|
            %li #{link_to poll.title, show_community_poll_path(poll.community, poll)}  

  .col.size1of3.margin-t20
    .margin-l20
      / = render :partial => "shared/content_sidebar", :locals => {:widget => @poll_set}                 
