- @answered_at
/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}
  
  .col.size2of3.margin-t20
    .float-right
      #{link_to "> 返回#{@poll.title}", show_community_poll_url(@poll.community, @poll)}
    .col
      %h3 #{@poll.title}的投票详情
      %table.horizontal-border
        %tr
          %th.size3of8 投票者
          %th.size3of8 投票
          %th.size2of8 投票时间
        - @poll.answered_user_ids.each do |id|
          %tr
            %td #{User.find(id).name}
            %td
              - @poll.answers(User.find(id)).each do |answer|
                #{answer.poll_option.name}
                -@answered_at = answer.created_at
            %td #{@answered_at.strftime("%Y-%m-%d %H:%M:%S")}  
