/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}
  
  .col.size2of3.margin-t20
    .float-right
      #{link_to "> #{@poll.poll_set.name}", show_community_poll_set_url(@poll.community, @poll.poll_set)}
    .col
      %h3 #{@poll.title}
      %small #{@poll.created_at}
      %ul.left
        - @poll.options.each do |option|
          %li #{option.name} #{option.poll_answers.count}
      #{link_to '投票详情', details_community_poll_url(@poll.community, @poll)}    

  .col.size1of3.margin-t20
    .margin-l20
      / = render :partial => "shared/content_sidebar", :locals => {:widget => @poll.poll_set}           


