/ %li{:id => dom_id(@bulletin)}
%li{:id => "widget_#{@bulletin.id}"}
  .introduction.panel.margin-b30
    .body
      .cell.handle
        .section-title.float-left #{@bulletin.name}
        .widget-actions.float-right
          - if can? :update, @bulletin.community          
            = link_to '修改', edit_community_bulletin_path(@bulletin.community, @bulletin)
            %a.widget-setting-link{:href => "#", :id => "#{@bulletin.id}-settings"} 设置
            = link_to '删除', url_for_event(:delete_widget, :id => @bulletin.section.id, :widget_id => @bulletin.id), :confirm => 'Are you sure?', :method => 'delete', :remote => true

        .widget-setting{"data-id" => "#{@bulletin.id}"}
          = form_for @bulletin, :url => community_bulletin_url(@bulletin.community, @bulletin)  do |f|
            %p
              = f.text_field :name
            %p  
              = f.submit "保存"
    .body          
      .col.sizefill       
        %div{:id => dom_id(@bulletin), :style => "min-height:100px; background:#f4f4ec; padding:20px;"}
          %p #{simple_format @bulletin.body}
  

  :javascript
    $(document).ready(function(){
      var bulletin = $("#widget_#{@bulletin.id}");
      setWidget(bulletin);
    });