- @unread_notifs_count = current_user.notifications_received.unread.count.to_i if user_signed_in?
- @unread_mails_count = current_user.messages_received.unread.count.to_i if user_signed_in?


.site-header.background-white.site-header-border
  .site-center
    .col.sizefit
      .site-logo
        %a.logo{:href => "/"}
    .col.sizefit.float-right
      - if user_signed_in?
        .col.sizefit.border-right                
          .cell.float-left
            %a{:href => "/communities/new"}
              .button.gradient
                %b 创建社群  
        .col.sizefit          
          .site-menu   
            %ul.nav
              %li#user-notifications
                - if @unread_notifs_count > 0
                  %a{"data-remote" => "true", :href => "#{url_for_event(:read, :source => :notification)}", :title => "你有新提醒了！"} 
                    %span.icon.icon-bell-alt
                    - if @unread_notifs_count > 0
                      %span.unread-count #{@unread_notifs_count} 
                  .user-notify-popup  
                    .arrow_box_top
                      %h6 你的提醒  
                      .popup-content
                        = render_widget :notification  
                - else   
                  %a{"data-remote" => "true", :href => "#{url_for_event(:read, :source => :notification)}"} 
                    %span.icon.icon-bell
                    - if @unread_notifs_count> 0
                      %span.unread-count #{@unread_notifs_count} 
                  .user-notify-popup  
                    .arrow_box_top
                      %h6 你的提醒  
                      .popup-content
                        = render_widget :notification                   
                        
              %li#mailbox
                - if @unread_mails_count == 0
                  %a{:href => "/mailbox"}
                    %span.icon.icon-envelope   
                - else
                  %a{:href => "/mailbox", :title => "你有新邮件了！"}
                    %span.icon.icon-envelope-alt
                    %span.unread-count #{@unread_mails_count}    
              %li#user-nav
                %a{:href => "javascript:;"} 
                  %span.icon.icon-user
                  %span.icon.icon-caret-down
                  %span.icon.icon-caret-up.caret-hide
                .user-nav-popup  
                  .arrow_box_top
                    %h6 
                    .popup-content
                      %ul.left.dropdown
                        %li.user-name
                          = link_to current_user.name, profile_path(current_user)
                        %li
                          %a{:href => "/dashboard"} 我的健康    
                        %li
                          %a{:href => "/account"} 帐号设置
                        %li 
                          = link_to '退出', destroy_user_session_path, :method=>'delete'   
      - else
        .site-menu
          %ul.nav
            %li
              = link_to '登录', new_user_session_path 
            %li
              = link_to '注册', new_user_registration_path     
    - if user_signed_in?              
      .col.sizefill.site-menu  
        .col.sizefill.mobile-sizefill
          %ul.nav
            / %li{:class => "#{@update}"}
            /   %a.border-left{:href => "/update"} 动态
            %li{:class => (@page == "explore" ? "active" : "")}
              %a.border-left{:href => "/explore"} 知识社群  
            %li{:class => (@page == "experiences" ? "active" : "")}
              %a{:href => "/experiences"} 经历分享  
            
            / %li{:class => (@page == "dashboard" ? "active" : "")}
            /   #{link_to '我的健康', dashboard_url}    
             
:javascript
  $(document).ready(function(){
    $(".site-logo").click(function(){
       window.location=$(this).find("a").attr("href"); 
       return false;
    });
  });             