%h2 更改帐户密码
%hr
= form_for current_user, :url => upadte_password_user_url(current_user), :html => {:method => :post} do |f|
  .margin-b20
    .col
      %label
        %b 旧密码
    .col
      = f.password_field :current_password, :required => true
  .margin-b20
    .col
      %label
        %b 新密码
    .col
      = f.password_field :password, :autocomplete => "off"   
  .margin-b20
    .col
      %label
        %b 重复新密码
    .col
      = f.password_field :password_confirmation    
    

  .col.margin-t20
    = f.submit '更新', :class => "button background-orange"
    / %button.button.background-orange 更新