- @feeds = "selected"
- @page = "dashboard"

/ Page
.site-center.center-page  
  .page-head{:style => "margin-bottom:30px;"}
    %ul.dashboard-tabs
      %li 
        %a{:href => "/dashboard", :class => "#{@feeds}"} 动态
      %li 
        %a{:href => "/dashboard/phrs", :class => "#{@phrs}"} 健康记录
      %li
        %a{:href => "/dashboard/stars", :class => "#{@stars}"} 收藏夹
      %li 
        %a{:href => "/dashboard/blogs", :class => "#{@blogs}"} 日记

  .col.size2of3
    .margin-r30 
      %h3 我的社群动态
      %br
      = render_widget :update_list  
  .col.size1of3
    .margin-l20
      %dl.highlight.green
        %dt 我加入的社群
        %dd
          %ul.links
            - @communities.each do |c|
              %li #{link_to c.name, community_path(c)}

    / .section
    /   .header
    /     %h5 我加入的社群
    /   .body
    /     %ul.nav.recommendation
    /       - Community.all.limit(5).each do |c|
    /         %li
    /           .col.sizefit.float-right
    /             %img{:src => "#{asset_path 'doctors/12033.jpg'}"}  
    /           .col.sizefill.margin-r10 
    /             %dl
    /               %dt #{link_to c.name, community_path(c)}
    /               %dd
    /                 %p 中山大学附属第三医院
    /                 %p 皮肤科
    / .section
    /   .header
    /     %h5 我关注的话题/问题
    /   .body
    /     %ul.nav.recommendation
    /       - Community.all.limit(5).each do |c|
    /         %li
    /           .col.sizefit.float-right
    /             %img{:src => "#{asset_path 'doctors/12033.jpg'}"}  
    /           .col.sizefill.margin-r10 
    /             %dl
    /               %dt #{link_to c.name, community_path(c)}
    /               %dd
    /                 %p 中山大学附属第三医院
    /                 %p 皮肤科    