- @page = "dashboard"

/ Page
.site-center.center-page  
  = render :partial => "dashboard/top_menu", :locals => {:selected => "feeds"}

  .col.size2of3
    .margin-r30 
      - if params[:tag]
        %h3 我的收藏：#{params[:tag]} (#{@items.count})
        = render :partial => "item", :collection => @items
      - else      
        %h3 我的社群动态
        %br
        = render_widget :update_list  
  .col.size1of3
    .margin-l20
      %dl.highlight.green
        %dt 我加入的社群
        %dd
          %ul.links
            - @communities.each do |c|
              %li #{link_to c.name, community_path(c)}

      .my-tags
        %h3 我的收藏
        - current_user.all_tags_with_count.each do |k,v|
          %span
            = link_to "#{k}(#{v})", dashboard_path(:tag => k)
      / %dl.highlight.orange
      /   %dt 我的标签
      /   %dd.my-tags
      /     - current_user.all_tags_with_count.each do |k,v|
      /       %span
      /         = link_to "#{k}(#{v})", dashboard_path(:tag => k) 
  
