- @page = 'experiences'
- @bg_color =['background-orange', 'background-blue', 'background-yellow', 'background-grey', 'background-green', 'background-red', 'background-purple' ]
.site-center.center-page
  .col
    .cell
      .alphabet-filter     
        %ul.nav
          / %li
          /   #{link_to '所有', '/experiences'}
          %li
            #{link_to 'A', '/experiences?alphabet=A'}
          %li
            #{link_to 'B', '/experiences?alphabet=B'}
          %li
            #{link_to 'C', '/experiences?alphabet=C'}
          %li
            #{link_to 'D', '/experiences?alphabet=D'}
          %li
            #{link_to 'E', '/experiences?alphabet=E'}
          %li
            #{link_to 'F', '/experiences?alphabet=F'}
          %li
            #{link_to 'G', '/experiences?alphabet=G'}
          %li
            #{link_to 'H', '/experiences?alphabet=H'}
          %li
            #{link_to 'I', '/experiences?alphabet=I'}
          %li
            #{link_to 'J', '/experiences?alphabet=J'}
          %li
            #{link_to 'K', '/experiences?alphabet=K'}
          %li
            #{link_to 'L', '/experiences?alphabet=L'}
          %li
            #{link_to 'M', '/experiences?alphabet=M'}
          %li
            #{link_to 'N', '/experiences?alphabet=N'}
          %li
            #{link_to 'O', '/experiences?alphabet=O'}                            
          %li
            #{link_to 'P', '/experiences?alphabet=P'}
          %li
            #{link_to 'Q', '/experiences?alphabet=Q'}
          %li
            #{link_to 'R', '/experiences?alphabet=R'}
          %li
            #{link_to 'S', '/experiences?alphabet=S'} 
          %li
            #{link_to 'T', '/experiences?alphabet=T'}
          %li
            #{link_to 'U', '/experiences?alphabet=U'}
          %li
            #{link_to 'V', '/experiences?alphabet=V'}
          %li
            #{link_to 'W', '/experiences?alphabet=W'}
          %li
            #{link_to 'X', '/experiences?alphabet=X'}
          %li
            #{link_to 'Y', '/experiences?alphabet=Y'}
          %li
            #{link_to 'Z', '/experiences?alphabet=Z'}                     
    .cell
      .health-issue-list
        - @issues.each do |issue|
          .col.size1of4
            .entry.cell
              .title 
                = link_to issue.name, issue_stories_path(issue.id), :class => "#{@bg_color.sample}"
              .action-bar
                .num-sig
                  %span.num #{issue.stories_count}
                  经历分享
                .num-sig
                  %span.num #{issue.healed_stories_count}
                  治愈分享
  / .col 
  /   %dl.highlight.green
  /     %dt 最新分享
  /     %dd
  /       %ul.links
  /         - Story.limit(8).each do |s|
  /           %li #{link_to s.title, issue_story_path(s.issue, s)}           
      
  / .col.size2of3
  /   .health-issue-list.padding-r20
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看
  /     .entry
  /       .title 
  /         %a 肥胖
  /       .action-bar
  /         .num-sig
  /           %span.num 509
  /           &nbsp;&nbsp;篇经历
  /         .num-sig
  /           %span.num 309
  /           &nbsp;&nbsp;篇治愈分享  
  /         .find-out
  /           %a 查看

  / .cell.tags
  /   %ul.cloud.nav
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务

  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 富森美
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag1.background-orange 血压高
  /     %li.tag3.background-blue mg6保养
  /     %li.tag2.background-grey 水泥
  /     %li.tag4.background-purple 便宜汽车
  /     %li.tag1.background-orange 浮想建材
  /     %li.tag1.background-orange 汽车售后服务
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网
  /     %li.tag1.background-orange 家居
  /     %li.tag5.background-green 汽车江湖
  /     %li.tag2.background-grey 四川水泥
  /     %li.tag1.background-orange 建材
  /     %li.tag1.background-orange 名爵论坛
  /     %li.tag3.background-blue 保养费用
  /     %li.tag4.background-purple 紧凑车性
  /     %li.tag1.background-orange 汽车点评
  /     %li.tag2.background-grey 水泥网



  / #container{:style => "min-height:700px;width:960px;"}
  /   .item{:style => "width:70%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "heigth:80px;width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:30%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:40%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:45%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:50%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:30%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:60%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:10%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} experiences
  /   .item{:style => "width:30%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} stories
  /   .item{:style => "width:20%;background: #D8D6D2;padding: 10px;margin: 1px 1%;float:left;"} issues

