- @page = 'experiences'
- @bg_color =['background-orange', 'background-blue', 'background-yellow', 'background-grey', 'background-green', 'background-red', 'background-purple' ]
.site-center.center-page
  .col
    .cell
      .alphabet-filter     
        %ul.nav
          / %li
          /   #{link_to '所有', '/experiences'}
          %li
            #{link_to 'A', '/experiences?alphabet=A'}
          %li
            #{link_to 'B', '/experiences?alphabet=B'}
          %li
            #{link_to 'C', '/experiences?alphabet=C'}
          %li
            #{link_to 'D', '/experiences?alphabet=D'}
          %li
            #{link_to 'E', '/experiences?alphabet=E'}
          %li
            #{link_to 'F', '/experiences?alphabet=F'}
          %li
            #{link_to 'G', '/experiences?alphabet=G'}
          %li
            #{link_to 'H', '/experiences?alphabet=H'}
          %li
            #{link_to 'I', '/experiences?alphabet=I'}
          %li
            #{link_to 'J', '/experiences?alphabet=J'}
          %li
            #{link_to 'K', '/experiences?alphabet=K'}
          %li
            #{link_to 'L', '/experiences?alphabet=L'}
          %li
            #{link_to 'M', '/experiences?alphabet=M'}
          %li
            #{link_to 'N', '/experiences?alphabet=N'}
          %li
            #{link_to 'O', '/experiences?alphabet=O'}                            
          %li
            #{link_to 'P', '/experiences?alphabet=P'}
          %li
            #{link_to 'Q', '/experiences?alphabet=Q'}
          %li
            #{link_to 'R', '/experiences?alphabet=R'}
          %li
            #{link_to 'S', '/experiences?alphabet=S'} 
          %li
            #{link_to 'T', '/experiences?alphabet=T'}
          %li
            #{link_to 'U', '/experiences?alphabet=U'}
          %li
            #{link_to 'V', '/experiences?alphabet=V'}
          %li
            #{link_to 'W', '/experiences?alphabet=W'}
          %li
            #{link_to 'X', '/experiences?alphabet=X'}
          %li
            #{link_to 'Y', '/experiences?alphabet=Y'}
          %li
            #{link_to 'Z', '/experiences?alphabet=Z'}                     
    .cell
      .health-issue-list
        - @issues.each do |issue|
          .col.size1of4
            .entry.cell
              .title 
                = link_to issue.name, issue_stories_path(issue.id), :class => "#{@bg_color.sample}"
              .action-bar
                .num-sig
                  %span.num #{issue.stories_count}
                  经历分享
                .num-sig
                  %span.num #{issue.healed_stories_count}
                  治愈分享


