/ Page
.site-center.center-page
  .col
    = image_tag(asset_path('logo-megahealth.png'))
  .col.margin-t30{:style => "text-align:center;"}
    %h3{:style => "color:#072"} #{current_user.name}， 从填写你关心的健康问题开始吧!  
  .col.margin-t20{:style => "text-align:center;"}  
    = form_for @content_filter, :url => content_filter_url do |f|
      .col.sizefit
        %h4{:style => "display:inline-block;padding-right:10px;"} 
          关心的主题
          %small{:style =>'font-size:80%;color:#999;'} (多个主题用逗号分隔)
        = f.text_field :interests, :autocomplete => "off", :maxlength => "30"
      .col.sizefit
        .margin-l20
          = f.submit '提交', :class => "button" 