- @healthrecord = "active"

/ Page
.site-center.center-page  
  .page-head{:style => "margin-bottom:30px;"}
    %h2 我的健康
  .col.size1of4
    .sidebar.portlet
      .profile-card
        .img-wrapper
          %img{:src => "#{asset_path 'default-profile-lrg.jpg'}"}
        .cell
          %h4 #{current_user.name}  
        .cell{:style => "margin-top: 20px;"} 
          .col.sizefit.float-right
            %span.icon.icon-plus.color-blue
          .col.sizefill 
            %a
              %h5 添加家庭成员
        .cell
          .col.switch-record 
            .col.sizefit.float-right
              %span.icon.icon-chevron-down.color-blue
            .col.sizefill 
              %a
                %h5 切换家庭成员  
          .col.health-records.menu
            %ul.left.nav
              %li
                %a{:href => "/healthrecords/niuniu"} 
                  %img{:src => "#{asset_path 'default-profile-lrg.jpg'}", :style => "width: 30px;"} 
                  妞妞
              %li
                %a 
                  %img{:src => "#{asset_path 'default-profile-lrg.jpg'}", :style => "width: 30px;"}
                  花生        

      .panel.margin-t30{:style => "background-color:#eee"}
        .cell.menu
          %ul.left.nav
            %li
              %a 健康档案
            %li
              %a 我的收藏
            %li
              %a 我的日记    

  .col.sizefill
    .margin-l20
      .cell.healthsummary
        %h2{:style => "margin:0;"} #{@phr.name}              
        %hr
        %span{:style => "font-size: 20px;"} #{@phr.age}
        %span 岁，女
      .cell      
        .healthsummary
          %dl
            %dt
              = link_to '疾病', phr_conditions_path(@phr)
              %a.add-conditions{"data-reveal-id" => "add-conditions"} 
                %span.icon.icon-16.icon-plus.color-blue
            %dd
              .symptom 
                - @phr.conditions.each do |c|
                  %b #{c.name}
                  %b.middot &middot; 
        .healthsummary
          %dl
            %dt
              = link_to '病症', phr_symptoms_path(@phr)
              %a.add-symptoms{"data-reveal-id" => "add-symptoms"} 
                %span.icon.icon-16.icon-plus.color-blue
            %dd
              .symptom 
                - @phr.symptoms.each do |s|
                  %b #{s.name}
                  %b.middot &middot;
              / 您还没有任何病症          
        .healthsummary
          %dl
            %dt
              %a{:href => "/healthrecords/treatments"} 
                当前治疗
              %a.add-treatments{"data-reveal-id" => "add-treatments"} 
                %span.icon.icon-16.icon-plus.color-blue
            %dd
              .symptom 
                %b 逍遥丸
              / 您还没有任何治疗
        .healthsummary
          %dl
            %dt
              %a{:href => "/healthrecords/caretopics"} 
                关心的健康主题
                %span.icon.icon-16.icon-plus.color-blue
            %dd
              .symptom 
                %b 减肥
                %b.middot &middot;
                %b 美白               
          
      .col.size1of2                
        .cell.healthupdate
          %hr  
          %h3 我的收藏 - #{link_to 13.to_s, '#'}
          / .categories
          /   %ul.nav
          /     %li
          /       .label.background-orange 健康知识
          /     %li
          /       .label.background-grey 就医指南  
          /     %li
          /       .label.background-grey 治疗交流
          /     %li
          /       .label.background-grey 护理园地
          /     %li
          /       .label.background-grey 用药常识       
          .my-list.margin-t20
            %ul.unstyled
              %li
                .col
                  %dl
                    %dt
                      %a 关于贝贝的发病经历和治疗交流
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        病友日记
                        %span.middot &middot;
                        贝贝妈妈
                        %span.middot &middot;
                        3月28日

              %li
                .col
                  %dl
                    %dt
                      %a 如何才可以挂到范瑞强的号？电话、网上都不行
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        问答
                        %span.middot &middot;
                        糖尿病病友会
                        %span.middot &middot;
                        3月28日
              %li
                .col
                  %dl
                    %dt
                      %a 如何才可以挂到范瑞强的号？电话、网上都不行
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        食补
                        %span.middot &middot;
                        养生苑
                        %span.middot &middot;
                        3月28日
              %li
                .col
                  %dl
                    %dt
                      %a 如何才可以挂到范瑞强的号？电话、网上都不行
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        问答
                        %span.middot &middot;
                        糖尿病病友会
                        %span.middot &middot;
                        3月28日
              %li
                .col
                  %dl
                    %dt
                      %a 如何才可以挂到范瑞强的号？电话、网上都不行
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        食补
                        %span.middot &middot;
                        养生苑
                        %span.middot &middot;
                        3月28日

      .col.size1of2              
        .cell.healthupdate
          %hr 
          %h3 我的日记 - #{link_to 5.to_s, '#'}
          .my-list.margin-t20
            %ul.unstyled
              %li
                .col
                  %dl
                    %dt
                      %a 关于贝贝的发病经历和治疗交流
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        病友日记
                        %span.middot &middot;
                        贝贝妈妈
                        %span.middot &middot;
                        3月28日

              %li
                .col
                  %dl
                    %dt
                      %a 如何才可以挂到范瑞强的号？电话、网上都不行
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        问答
                        %span.middot &middot;
                        糖尿病病友会
                        %span.middot &middot;
                        3月28日
              %li
                .col
                  %dl
                    %dt
                      %a 如何才可以挂到范瑞强的号？电话、网上都不行
                      .small.delete.float-right 取消收藏
                    %dd
                      .source.small   
                        食补
                        %span.middot &middot;
                        养生苑
                        %span.middot &middot;
                        3月28日

            %h5.float-right.margin-t20
              %a 写新日记
    
  .reveal-modal.large#add-conditions
    %h2 添加疾病
    %hr
    .col
      = form_for :condition, :url => phr_conditions_path(@phr) do |f|
        .margin-b20
          .col
            %label 名称
          .col
            = f.text_field :name 

        .margin-b20     
          .col
            %label 状态
          .col
            = f.text_field :status

        .margin-b20
          .col.size1of2
            .col
              %label 开始时间
            .col
              = f.date_select :started_at, :start_year => 1940
          .col.size1of2    
            .col
              %label 结束时间
            .col
              = f.date_select :ended_at, :start_year => 1940 
        .col
          = f.submit "保存"      

    %a.close-reveal-modal &#215;

  .reveal-modal.large#add-symptoms
    %h2 添加症状
    %hr
    .col
      = form_for :symptom, :url => phr_symptoms_path(@phr) do |f|
        .margin-b20
          .col
            %label 名称
          .col
            = f.text_field :name  

        .margin-b20     
          .col
            %label 程度
          .col
            = f.text_field :extent

        .margin-b20
          .col.size1of2
            .col
              %label 开始时间
            .col
              = f.date_select :started_at, :start_year => 1940   
          .col.size1of2    
            .col
              %label 结束时间
            .col
              = f.date_select :ended_at, :start_year => 1940  
        .col
          = f.submit "保存"
    %a.close-reveal-modal &#215;

  .reveal-modal.large#add-treatments
    %h2 添加治疗
    %hr
    .col
      %form
        .margin-b20
          .col
            %label 名称
          .col
            %input.text{:type => "text"} 

        .margin-b20     
          .col
            %label 治疗原因
          .col
            %input.text{:type => "text"}  

        .margin-b20
          .col.size1of2
            .col
              %label 开始时间
            .col
              %input.text.focused-input{:id => "location"}   
          .col.size1of2    
            .col
              %label 结束时间
            .col
              %input.text.focused-input{:id => "location"} 
    .col
      %hr           
    .col
      %button.button.background-blue 保存 
      %button.button.background-blue 保存并添加新治疗  
      %button.button 取消 
    %a.close-reveal-modal &#215;

/ - @blog = Blog.new

/ %h3 我的健康
/ %h4 我的日志
/ = link_to '写日记', new_blog_path
/ %ul
/   - current_user.blogs.each do |blog|
/     %li
/       = link_to blog.title, blog_path(blog)
/ %h4 我的健康记录    
/ #{@phr.name} #{@phr.age}
/ = link_to '添加健康记录', new_phr_path
/ %a.switch-phr{:href => "#"} 切换健康记录
/ .phrs
/   %ul
/   - current_user.phrs.excludes(:id => @phr.id).each do |p|
/     %li 
/       #{link_to p.name, mine_path(:phr => p)}

/ %hr
/ = link_to '疾病', phr_conditions_path(@phr)
/ %a.condition-link{:href => "#", "data-reveal-id" => 'myCondition'} 添加
/ %br
/ - @phr.conditions.each do |c|
/   #{c.name} 
/ %p
/   = link_to '病症', phr_symptoms_path(@phr)
/   %a.symptom-link{:href => "#", "data-reveal-id" => 'mySymptom'} 添加
/   %br
/   - @phr.symptoms.each do |c|
/     #{c.name}   
/ %p
/   = link_to '治疗', phr_treatments_path(@phr)
/   %a.treatment-link{:href => "#", "data-reveal-id" => 'myTreatment'} 添加
/   %br
/   - @phr.treatments.each do |c|
/     #{c.name}   

/ %h4 我的收藏


/ .reveal-modal#myCondition
/   %h2 添加疾病
/   = form_for :condition, :url => phr_conditions_path(@phr) do |f|
/     %p
/       = f.label "名称"
/       = f.text_field :name
/     %p
/       = f.label "状态"
/       = f.text_field :status
/     %p  
/       = f.submit "保存"   
/   %a.close-reveal-modal &#215;

/ .reveal-modal#mySymptom
/   %h2 添加病症
/   = form_for :symptom, :url => phr_symptoms_path(@phr) do |f|
/     %p
/       = f.label "名称"
/       = f.text_field :name
/     %p
/       = f.label "程度"
/       = f.text_field :extent
/     %p  
/       = f.submit "保存"   
/   %a.close-reveal-modal &#215;

/ .reveal-modal#myTreatment
/   %h2 添加治疗
/   = form_for :treatment, :url => phr_treatments_path(@phr) do |f|
/     %p
/       = f.label "名称"
/       = f.text_field :name
/     %p
/       = f.label "剂量"
/       = f.text_field :dose
/     %p  
/       = f.submit "保存"   
/   %a.close-reveal-modal &#215;    

:javascript 
  $(document).ready(function() {
    $('.condition-link').click(function(e) {
      e.preventDefault();
      $('#myCondition').reveal();
    });

    $('.symptom-link').click(function(e) {
      e.preventDefault();
      $('#mySymptom').reveal();
    });

    $('.treatment-link').click(function(e) {
      e.preventDefault();
      $('#myTreatment').reveal();
    });

    $('.phrs').hide();
    $('.switch-phr').click(function() {
      $('.phrs').slideToggle();
    });
  });  
