- @page = 'explore'
- @articles_count = @category_entries.select {|i| i._type == "Article"}.nil? ? 0 : @category_entries.select {|i| i._type == "Article"}.size
- @blogs_count = @category_entries.select {|i| i._type == "Blog"}.nil? ? 0 : @category_entries.select {|i| i._type == "Blog"}.size
- @topics_count = @category_entries.select {|i| i._type == "Topic"}.nil? ? 0 : @category_entries.select {|i| i._type == "Topic"}.size
- @videos_count = @category_entries.select {|i| i._type == "Video"}.nil? ? 0 : @category_entries.select {|i| i._type == "Video"}.size
- @questions_count = @category_entries.select {|i| i._type == "Question"}.nil? ? 0 : @category_entries.select {|i| i._type == "Question"}.size
- @polls_count = @category_entries.select {|i| i._type == "Poll"}.nil? ? 0 : @category_entries.select {|i| i._type == "Poll"}.size

- @cate1_count = @entries.select {|i| i.category == "健康知识"}.nil? ? 0 : @entries.select {|i| i.category == "健康知识"}.size
- @cate2_count = @entries.select {|i| i.category == "就医指南"}.nil? ? 0 : @entries.select {|i| i.category == "就医指南"}.size
- @cate3_count = @entries.select {|i| i.category == "治疗交流"}.nil? ? 0 : @entries.select {|i| i.category == "治疗交流"}.size
- @cate4_count = @entries.select {|i| i.category == "护理园地"}.nil? ? 0 : @entries.select {|i| i.category == "护理园地"}.size
- @cate5_count = @entries.select {|i| i.category == "用药常识"}.nil? ? 0 : @entries.select {|i| i.category == "用药常识"}.size
- @category_stats = {"健康知识" => @cate1_count, "就医指南" => @cate2_count, "治疗交流" => @cate3_count, "护理园地" => @cate4_count, "用药常识" => @cate5_count}
- @stats = @category_stats.sort_by {|k,v| v}.reverse


/ Page
.site-center  
  .content-search-head
    .container
      - if params[:tag]
        .col.sizefit
          %h2 热门标签：
        .col.sizefill
          %ul.nav
            - Tag.all.limit(25).each do |tag|
              %li
                = link_to "#{tag.name}", search_path(:tag => tag.name)   
      - else
        .col.size1of4
          / %h2 查询
        .col.size3of4  
          #content_search
            .col.float-right
              = form_tag "/search", :method => "get" do          
                = text_field_tag :q, nil, :value => params[:q], :size => 70, :required => true, :autocomplete => "off"
                / = hidden_field_tag :category, nil, :value => params[:category]
                = submit_tag "查询", :class => "search-button gradient"

  .page-content
    .col.breadcrumb.margin-b10
      - if params[:tag]
        %h3 标签: #{breadcrumb(:q => params[:q], :tag => params[:tag], :category => params[:category], :type => params[:type])}
      - else
        %h3 查询：#{breadcrumb(:q => params[:q], :tag => params[:tag], :category => params[:category], :type => params[:type])}
    .col.size1of4
      .padding-r20
        %h4 类别
        .category-container.menu
          %ul.stat.left.nav
            - @stats.each do |v|
              %li{:class => (params[:category] == v[0] ? "active" : "")}
                %a{:href => "#{search_path :q => params[:q], :category => v[0], :tag => params[:tag]}"}
                  %span.data #{v[1]}
                  #{v[0]}


        %h4 内容
        .type-container.menu
          %ul.stat.left.nav
            - if @articles_count > 0
              %li{:class => (params[:type] == "Article" ? "active" : "")} 
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Article", :tag => params[:tag]}"}
                  %span.data #{@articles_count}
                  文章    
            - if @blogs_count > 0      
              %li{:class => (params[:type] == "Blog" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Blog", :tag => params[:tag]}"}
                  %span.data #{@blogs_count}
                  日记    
            - if @topics_count > 0        
              %li{:class => (params[:type] == "Topic" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Topic", :tag => params[:tag]}"}
                  %span.data #{@topics_count}
                  话题  
            - if @questions_count > 0         
              %li{:class => (params[:type] == "Question" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Question", :tag => params[:tag]}"} 
                  %span.data #{@questions_count} 
                  问题 
            - if @videos_count > 0       
              %li{:class => (params[:type] == "Video" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Video", :tag => params[:tag]}"} 
                  %span.data #{@videos_count} 
                  视频 
            - if @polls_count > 0        
              %li{:class => (params[:type] == "Poll" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Poll", :tag => params[:tag]}"} 
                  %span.data #{@polls_count} 
                  投票       

    .col.size3of4
      .padding-l10
        .contentlist
          .content-source
            .col.sizefit.float-right 
              %dl.dropdown
                %dt 
                  %a 
                    排序:#{scope_by(params[:scope])}
                    %span.icon.icon-collapse{:style => "margin-right:0;"}
                %dd
                  %ul
                    %li{:class => "#{params[:scope].nil? ? 'selected' : ""}"} 
                      %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => params[:type], :tag => params[:tag]}"} 
                        %span{:class => "#{params[:scope].nil? ? 'icon icon-ok' : ""}"} 
                        最新  
                    %li{:class => "#{params[:scope] == 'most_liked' ? 'selected' : ""}"}  
                      %a{:href => "#{search_path :q => params[:q], :scope => 'most_liked', :category => params[:category], :type => params[:type], :tag => params[:tag]}"}  
                        %span{:class => "#{params[:scope] == 'most_liked' ? 'icon icon-ok' : ""}"} 
                        最多喜欢
                    %li{:class => "#{params[:scope] == 'most_commented' ? 'selected' : ""}"}  
                      %a{:href => "#{search_path :q => params[:q], :scope => 'most_commented', :category => params[:category], :type => params[:type], :tag => params[:tag]}"}  
                        %span{:class => "#{params[:scope] == 'most_commented' ? 'icon icon-ok' : ""}"} 
                        最多评论
            .col.sizefill
              - if @results.size == 0
                - if params[:tag]
                  没有在"#{params[:category]}"类别中找到标签了"#{params[:tag]}"的任何内容
                - else
                  没有在"#{params[:category]}"类别中找到有关"#{params[:q]}"的任何内容
              - else
                找到#{@results.size}条结果


          - @results.each do |item|
            - present item, item.presenter_klass do |presenter|
              .content-source
                %ul.nav.content-stats
                  %li 
                    .label.background-grey #{item.content_type}                 
                  %li 浏览 #{item.impressionist_count}
                  %li 收藏 #{item.likers_count}
                %h3.content-title 
                  %a #{presenter.title}    
                  / %p{:style => "color:#999"} #{time_ago_in_words(item.created_at)}前
                .body 
                  %p #{presenter.text}      
                  - unless item.model_tags.empty?               
                    .tags 
                      .col.sizefit
                        %span.icon.icon-tags.color-black
                        标签:&nbsp;
                      .col.sizefill
                        - item.model_tags.each do |tag|
                          - if tag.tagged_by_user(current_user.id)
                            .tag{:style => "display:inline-block;"}
                              .col.sizefit.tag_name
                                #{tag.name}
                              .col.sizefit.tag_count
                                (#{tag.taggings_count})

                          - else
                            .foreign_tag{:style => "display:inline-block;"}
                              .col.sizefit.tag_name
                                #{tag.name}
                              .col.sizefit.tag_count
                                (#{tag.taggings_count})  


:javascript
  $(document).ready(function(){
    $(".type-container li a").click(function(e){
      e.preventDefault();

      //
      var vars = [], hash;
      var q = document.URL.split('?')[1];
      if(q != undefined){
        q = q.split('&');
        for(var i = 0; i < q.length; i++){
            hash = q[i].split('=');
            vars.push(hash[1]);
            vars[hash[0]] = hash[1];
        }
      }
      var old_type = vars['type']

      //
      var vars = [], hash;
      var q = $(this).attr("href").split('?')[1];
      if(q != undefined){
        q = q.split('&');
        for(var i = 0; i < q.length; i++){
            hash = q[i].split('=');
            vars.push(hash[1]);
            vars[hash[0]] = hash[1];
        }
      }
      var new_type = vars['type']

      if(new_type == old_type){
        var href = $(this).attr("href").replace(/([\?&])(type=)[^&#]*/, '');
        window.location.href = href;
      } else {
        window.location.href = $(this).attr("href");
      }

    });
      

    $(".dropdown dt a").click(function() {
      $(".dropdown dd ul").toggle();
    });

    $(".dropdown li").click(function(){
       window.location=$(this).find("a").attr("href"); 
       return false;
    });
  
  });
            

