- @articles_count = @category_entries.select {|i| i._type == "Article"}.nil? ? 0 : @category_entries.select {|i| i._type == "Article"}.size
- @blogs_count = @category_entries.select {|i| i._type == "Blog"}.nil? ? 0 : @category_entries.select {|i| i._type == "Blog"}.size
- @topics_count = @category_entries.select {|i| i._type == "Topic"}.nil? ? 0 : @category_entries.select {|i| i._type == "Topic"}.size
- @videos_count = @category_entries.select {|i| i._type == "Video"}.nil? ? 0 : @category_entries.select {|i| i._type == "Video"}.size
- @questions_count = @category_entries.select {|i| i._type == "Question"}.nil? ? 0 : @category_entries.select {|i| i._type == "Question"}.size
- @polls_count = @category_entries.select {|i| i._type == "Poll"}.nil? ? 0 : @category_entries.select {|i| i._type == "Poll"}.size

- @cate1_count = @entries.select {|i| i.category == "健康知识"}.nil? ? 0 : @entries.select {|i| i.category == "健康知识"}.size
- @cate2_count = @entries.select {|i| i.category == "就医指南"}.nil? ? 0 : @entries.select {|i| i.category == "就医指南"}.size
- @cate3_count = @entries.select {|i| i.category == "治疗交流"}.nil? ? 0 : @entries.select {|i| i.category == "治疗交流"}.size
- @cate4_count = @entries.select {|i| i.category == "护理园地"}.nil? ? 0 : @entries.select {|i| i.category == "护理园地"}.size
- @cate5_count = @entries.select {|i| i.category == "用药常识"}.nil? ? 0 : @entries.select {|i| i.category == "用药常识"}.size

/ Page
.site-center  
  .content-search-head
    .container
      .col.size1of4
        %h2 查询
      .col.size3of4  
        #content_search.float-right
          = form_tag "/search", :method => "get" do          
            = text_field_tag :q, nil, :value => params[:q], :size => 70, :required => true
            = hidden_field_tag :category, nil, :value => params[:category]
            = submit_tag "查询", :class => "search-button gradient"

  .page-content
    .col.size1of4
      .padding-r20
        %h4 类别
        .category-container.menu
          %ul.stat.left.nav
            %li{:class => (params[:category] == "健康知识" ? "active" : "")}
              %a{:href => "#{search_path :q => params[:q], :category => "健康知识", :type => params[:type]}"}
                %span.data #{@cate1_count}
                健康知识 
            %li{:class => (params[:category] == "就医指南" ? "active" : "")} 
              %a{:href => "#{search_path :q => params[:q], :category => "就医指南", :type => params[:type]}"}
                %span.data #{@cate2_count}
                就医指南  
            %li{:class => (params[:category] == "治疗交流" ? "active" : "")} 
              %a{:href => "#{search_path :q => params[:q], :category => "治疗交流", :type => params[:type]}"} 
                %span.data #{@cate3_count}
                治疗交流 
            %li{:class => (params[:category] == "护理园地" ? "active" : "")} 
              %a{:href => "#{search_path :q => params[:q], :category => "护理园地", :type => params[:type]}"}
                %span.data #{@cate4_count} 
                护理园地
            %li{:class => (params[:category] == "用药常识" ? "active" : "")} 
              %a{:href => "#{search_path :q => params[:q], :category => "用药常识", :type => params[:type]}"}
                %span.data #{@cate5_count} 
                用药常识 

        %h4 内容
        .type-container.menu
          %ul.stat.left.nav
            - if @articles_count > 0
              %li{:class => (params[:type] == "Article" ? "active" : "")} 
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Article"}"}
                  %span.data #{@articles_count}
                  文章    
            - if @blogs_count > 0      
              %li{:class => (params[:type] == "Blog" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Blog"}"}
                  %span.data #{@blogs_count}
                  日记    
            - if @topics_count > 0        
              %li{:class => (params[:type] == "Topic" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Topic"}"}
                  %span.data #{@topics_count}
                  话题  
            - if @questions_count > 0         
              %li{:class => (params[:type] == "Question" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Question"}"} 
                  %span.data #{@questions_count} 
                  问题 
            - if @videos_count > 0       
              %li{:class => (params[:type] == "Video" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Video"}"} 
                  %span.data #{@videos_count} 
                  视频 
            - if @polls_count > 0        
              %li{:class => (params[:type] == "Poll" ? "active" : "")}  
                %a{:href => "#{search_path :q => params[:q], :category => params[:category], :type => "Poll"}"} 
                  %span.data #{@polls_count} 
                  投票       

    .col.size3of4
      .padding-l10
        .contentlist
          .content-source
            - if @results.size == 0
              我们没有找到有关 "#{params[:q]}" 在 #{params[:category]} 类别中的#{params[:type]}
            - else
              找到#{@results.size}条结果
          - @results.each do |e|
            - present e, e.presenter_klass do |presenter|
              .content-source
                %ul.nav.content-stats
                  %li 
                    .label.background-grey #{e.content_type}                 
                  %li 浏览 #{e.impressionist_count}
                  %li 收藏 #{e.likers_count}
                %h3.content-title 
                  %a #{presenter.title}    
                .body 
                  %span #{presenter.text}   
                  %p{:style => "color:#999"} #{time_ago_in_words(e.created_at)}前


:javascript
  $(document).ready(function(){
    $(".type-container li a").click(function(e){
      e.preventDefault();

      //
      var vars = [], hash;
      var q = document.URL.split('?')[1];
      if(q != undefined){
        q = q.split('&');
        for(var i = 0; i < q.length; i++){
            hash = q[i].split('=');
            vars.push(hash[1]);
            vars[hash[0]] = hash[1];
        }
      }
      var old_type = vars['type']

      //
      var vars = [], hash;
      var q = $(this).attr("href").split('?')[1];
      if(q != undefined){
        q = q.split('&');
        for(var i = 0; i < q.length; i++){
            hash = q[i].split('=');
            vars.push(hash[1]);
            vars[hash[0]] = hash[1];
        }
      }
      var new_type = vars['type']

      if(new_type == old_type){
        var href = $(this).attr("href").replace(/([\?&])(type=)[^&#]*/, '');
        window.location.href = href;
      } else {
        window.location.href = $(this).attr("href");
      }

    });
      
  });
            

