- @page = "dashboard"
- @selected = "phrs"
- @current = Phr.find params[:phr_id]

/ Page
.site-center.center-page  
  .page-head{:style => "margin-bottom:30px;"}
    %ul.dashboard-tabs
      %li 
        %a{:href => "/dashboard", :class => (@selected == "feeds" ? "selected" : "")} 动态
      %li 
        %a{:href => "/dashboard/phrs", :class => (@selected == "phrs" ? "selected" : "")} 健康记录
      %li
        %a{:href => "/dashboard/stars", :class => (@selected == "stars" ? "selected" : "")} 标签夹
      %li 
        %a{:href => "/dashboard/blogs", :class => (@selected == "blogs" ? "selected" : "")} 日记

  .col.size1of4
    .list{:style => "border-bottom: 1px solid #F1F1F1;padding: 0 10px 20px 0;"} 
      %h4 我关心的人
      .menu
        %ul.left.nav
          - @phrs.each do |p|
            %li{:class => (p == @current ? "active" : "")}
              #{link_to p.name, phr_path(p)}

    .margin-t20
      = link_to '增加健康记录', new_phr_path
  .col.size3of4
    .margin-l20
      %h3 #{@current.name}的健康
      .tab-block.top-nav           
        .tabs        
          %ul.nav
            %li.active.active-item 
              = link_to '疾病', phr_conditions_path(@phr)
            %li 
              = link_to '症状', phr_symptoms_path(@phr)
            / %li 
            /   %a 治疗
      .col
        .margin-t20
          %a.button-link.margin-b20.add-conditions{"data-reveal-id" => "add-conditions"}  添加:疾病
          .panel.datasheet.margin-b20
            .head 我的数据       
            %table.body
              %thead
                %tr
                  %th{:style => "width:2%"} #
                  %th{:style => "width:30%", :nowrap => "nowrap"} 名称
                  %th{:style => "width:28%", :nowrap => "nowrap"} 状况
                  %th{:style => "width:20%", :nowrap => "nowrap"} 开始时间
                  %th{:style => "width:20%", :nowrap => "nowrap"} 结束时间
              %tbody
                - @conditions.each_with_index do |c, index|
                  %tr.data-row{'data-id' => c.id, 'phr-id' => c.phr.id, 'data-event-url' => url_for_event(:show, :source => :condition)}
                    %td #{index+1}
                    %td #{c.name}
                    %td 
                    %td
                    %td

          = render_widget :condition, :display, :instance => @conditions.first unless @conditions.empty?
   



  .reveal-modal.large#add-conditions
    %h2  添加疾病
    %hr
    .col
      = form_for :condition, :url => phr_conditions_path(@phr) do |f|
        .margin-b20
          .col
            %label 名称
          .col
            = f.text_field :name 

        .margin-b20     
          .col
            %label 状态
          .col
            = f.text_field :status

        .margin-b20
          .col.size1of2
            .col
              %label 开始时间
            .col
              = f.date_select :started_at, :start_year => 1940
          .col.size1of2    
            .col
              %label 结束时间
            .col
              = f.date_select :ended_at, :start_year => 1940 
        .col
          = f.submit "保存"      

    %a.close-reveal-modal &#215;

:javascript
  $(document).ready(function() {
    $('tbody tr.data-row:first').addClass('hilite');

    $('tr').click(function () {
      if (!$(this).hasClass('hilite')){
        $(this).siblings('tr').removeClass('hilite');
        $(this).toggleClass('hilite');
        $(this).toggleClass('hovered');
        $.ajax({url: $(this).attr("data-event-url") + "&id=" + $(this).attr("data-id") + "&phr_id=" + $(this).attr("phr-id")})
      }
    });

    $('tr').hover(function(){
      if (!$(this).hasClass('hilite')){
        $(this).toggleClass('hovered');
      }
    }, function(){
      if (!$(this).hasClass('hilite')){
        $(this).toggleClass('hovered');
      }  
    }); 

    $(".top-nav li").click(function(){
     window.location=$(this).find("a").attr("href"); 
     return false;
    });
  }); 
