/ Page
.site-center
  .header-info{:style => "background:#398fd1; color:#fff"}
    .col.sizefit.padding-l30.padding-r30
      .doc-image.margin-t20
        .p240-box
          %a{:href => "#"}
            %img{:src => "#{asset_path 'doctors/126708301394155.jpg'}" }

    .col.sizefill
      .doc-community-info.margin-t20
        %h3 #{@community.name} 
 
        %p 
          四川成都华西医院 儿科 主任医师 副教授
        
      .doc-expertise.padding-r20
        %p
          #{@community.brief}
      .col       
        .col.size1of2
          .doc-share.margin-t20
            %p 如果觉得对你的家人、朋友有帮助，分享给TA吧
        .col.sizefill
          .button.background-green.large-button.center 
            %span 加入

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right
      #{link_to "> 回#{@current_section.name}", community_section_url(@community, @current_section)}
    .col
      %h3 #{@video_list.name}
      - @video_list.videos.each do |v|
        .col
          .col.sizefit
            .video
              = link_to image_tag(v.thumb_url), show_community_video_url(v.community, v)
              .play_video
          .col.sizefill
            .col #{v.title}
            .col #{v.url}
            .col #{v.created_at.strftime("%Y-%m-%d")}上传


