/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right
      #{link_to "> 回#{@current_section.name}", community_section_url(@community, @current_section)}
    .col
      %h3 #{@video_list.name}
      - @video_list.videos.each do |v|
        .col
          .col.sizefit
            .clickable.video
              = link_to image_tag(v.thumb_url, :class => "thumb"), show_community_video_url(v.community, v)
              .play_video
          .col.sizefill
            .col #{v.title}
            .col #{v.url}
            .col #{v.created_at.strftime("%Y-%m-%d")}上传

  .col.size1of3.margin-t20
    .margin-l20
      = render :partial => "shared/content_sidebar", :locals => {:widget => @video_list}       
