- @page = 'experiences'
- @category = params[:category]
- @scope = params[:scope]

.site-center.center-page
  .col.size2of3
    .col.issue-title
      %span #{@issue.name}
    .col.margin-t20  
      .col.sizefit.float-right 
        %dl.dropdown
          %dt 
            %a 
              排序
              %span.icon.icon-collapse{:style => "margin-right:0;"}
          %dd
            %ul
              %li{:class => "#{params[:scope].nil? ? 'selected' : ""}"} 
                %a{:href => "#{issue_stories_path(@issue, :category => @category)}"} 
                  %span{:class => "#{params[:scope].nil? ? 'icon icon-ok' : ""}"} 
                  最新  
              %li{:class => "#{params[:scope] == 'most_viewed' ? 'selected' : ""}"}  
                %a{:href => "#{issue_stories_path(@issue, :category => @category, :scope => 'most_viewed')}"}  
                  %span{:class => "#{params[:scope] == 'most_viewed' ? 'icon icon-ok' : ""}"} 
                  浏览
              %li{:class => "#{params[:scope] == 'most_commented' ? 'selected' : ""}"}  
                %a{:href => "#{issue_stories_path(@issue, :category => @category, :scope => 'most_commented')}"}  
                  %span{:class => "#{params[:scope] == 'most_commented' ? 'icon icon-ok' : ""}"} 
                  评论
              %li{:class => "#{params[:scope] == 'most_useful' ? 'selected' : ""}"}  
                %a{:href => "#{issue_stories_path(@issue, :category => @category, :scope => 'most_useful')}"} 
                  %span{:class => "#{params[:scope] == 'most_useful' ? 'icon icon-ok' : ""}"}  
                  有用  
              %li{:class => "#{params[:scope] == 'most_cheered' ? 'selected' : ""}"}  
                %a{:href => "#{issue_stories_path(@issue, :category => @category, :scope => 'most_cheered')}"} 
                  %span{:class => "#{params[:scope] == 'most_cheered' ? 'icon icon-ok' : ""}"} 
                  鼓励   

      .col.sizefill
        = link_to '全部', issue_stories_path(@issue.id, :scope => @scope), :class => "label #{params[:category] ? 'background-grey' : 'background-green'}"
        = link_to '就医', issue_stories_path(@issue.id, :category => '就医', :scope => @scope), :class => "label #{params[:category] == '就医' ? 'background-green' : 'background-grey'}"
        = link_to '治疗', issue_stories_path(@issue.id, :category => '治疗', :scope => @scope), :class => "label #{params[:category] == '治疗' ? 'background-green' : 'background-grey'}"
        = link_to '治愈', issue_stories_path(@issue.id, :category => '治愈', :scope => @scope), :class => "label #{params[:category] == '治愈' ? 'background-green' : 'background-grey'}"
       
    .col.stories-list.margin-t20
      - @stories.each do |story|
        .story.margin-b30.border-bottom  
          .col.sizefit
            = image_tag story.user.avatar_url(:thumb), :size => "50x50"
            %br
            %span{:style => "color:#999;font-size:80%;"} #{story.user.name}
          .col.sizefill
            .story-title.margin-l20
              %p
                #{link_to story.title, issue_story_path(@issue, story)}
                %br
                %span{:style => "color:#999;font-size:80%;"} 
                  #{story.impressionist_count}浏览 &middot; #{story.comments.size}评论 &middot; #{story.likers_count}有用 &middot; #{story.shares_count}鼓励 &middot; #{story.created_at.strftime("%Y-%m-%d %H:%M")} 
            .story-content.margin-l20    
              %p{:style => "margin-bottom: 20px;"} #{truncate(strip_tags(story.body), length: 140, omission: '.....')}
    .col
      = paginate @stories          

  .col.size1of3
    .cell.story-left{:style => "margin: 30px 0 0 30px;"}
      %p.color-pink
        %i 健康的决定是很难的，并寻找合适的医疗保健提供者显然是费劲。医疗治病经验应该是透明的，它可以（而且应该）通过与其他有相同境地的人分享被加强了。
      %p.color-pink
        %i 讲述您的经历，让其他人可以向他们学习，是更明智的决策。
      = link_to '我来分享', new_issue_story_path(@issue), :class => "button background-green"       

:javascript
  $(document).ready(function() {
    $(".dropdown dt a").click(function() {
      $(".dropdown dd ul").toggle();
    });

    $(".dropdown li").click(function(){
       window.location=$(this).find("a").attr("href"); 
       return false;
    });
  });      