- @page = 'experiences'

.site-center.center-page
  .col.size2of3
    .col
      .issue-title
        %span #{link_to @issue.name, issue_stories_path(@issue)}
    .col    
      .experience-title.margin-t20
        %h2 
          #{@story.title}
          .background-green.label{:style => "font-size: 70%;"} #{@story.category}
        %small #{@story.created_at.strftime("%Y-%m-%d %H:%M:%S")} &nbsp;&nbsp; #{@story.impressionist_count}浏览 &middot; #{@story.comments.size}评论

        = render_widget :experience_feedback, :display, :instance => @story
        
    .col  
      %p.margin-t20 #{raw @story.body}

      .margin-t30
        %p{:style => "color:#999;"} 
          %span.label{:style => "font-size:90%;"} 提示
          经验内容仅供参考，如果您需要解决具体问题，建议您详细咨询相关领域专业人士。

    #comments.margin-t30.col
      - @story.comments.each do |c|
        - if c.persisted?
          .comment
            .col.sizefit.float-left
              = image_tag c.commenter.avatar_url(:thumb)
            .col.sizefill
              .margin-l20 
                .author 
                  #{c.created_at.strftime("%Y-%m-%d %H:%M:%S")}&nbsp;&nbsp;&nbsp;来自: #{c.commenter.name}
                  - if c.commenter.id == current_user.id 
                    .op-links
                      #{link_to '删除', remove_comment_issue_story_path(@issue, @story,  :comment_id => c.id)}
                .comment-body
                  #{simple_format c.body} 
                       

      - if user_signed_in?        
        %p
          = form_tag comment_issue_story_path(@issue, @story), :method => :get do
            %p 你的评论
            %p  
              = text_area_tag :comment, '', :size => "75x6" 
            %p
              = submit_tag '加上去'                  
      

  .col.size1of3
    .cell.story-left{:style => "margin: 30px 0 0 30px;"}
      %p.color-pink
        %i 健康的决定是很难的，并寻找合适的医疗保健提供者显然是费劲。医疗治病经验应该是透明的，它可以（而且应该）通过与其他有相同境地的人分享被加强了。
      %p.color-pink
        %i 讲述您的经历，让其他人可以向他们学习，是更明智的决策。
      = link_to '我来分享', new_issue_story_path(@issue), :class => "button background-green" 

    .cell.story-left{:style => "margin: 30px 0 0 30px;"}
      .author{:style => "padding-bottom: 20px"}
        %p{:style => "font-size: 110%;font-weight:bold;"} 作者
        .col
          = image_tag @story.user.avatar_url(:thumb), :size => "120x120"
          %p #{@story.user.name}
          %p 
            %a 给他留言
      .author-experiences{:style => "padding-top: 20px;border-top: solid 1px #ccc"}  
        .col
          %p{:style => "font-size: 110%;font-weight:bold;"} 该作者的其他分享