= widget_div do
  %h2
    #{@condition.name}
  / %h4 相似病人
  - present @condition, ConditionPresenter do |condition_presenter|  
    %p
    #{condition_presenter.text}

  %hr  
  %h4 推荐社群
  .my-community-list
    - @communities.each_with_index do |c, index|
      - if index < 3
        .my-community
          .col.sizefit
            %a{:href => "#{community_path(c)}", :style => "margin-right:10px;"}
              = image_tag c.logo_url(:thumb)
          .col.sizefill
            %b #{c.name}
            %p{:style => "color:#777; font-size:80%;"} 
              儿科 主任医师
              %br
              4231 个成员 
            .last-update
              更新于上午11:15
      - else
        .my-community.wrapper
          .col.sizefit
            %a{:href => "#{community_path(c)}", :style => "margin-right:10px;"}
              %img{:src => "#{asset_path 'doctors/126708301394155.jpg'}"}
          .col.sizefill
            %b #{c.name}
            %p{:style => "color:#777; font-size:80%;"} 
              儿科 主任医师
              %br
              4231 个成员 
            .last-update
              更新于上午11:15  

