- tags.each do |tag|
  - if tag.tagged_by_user(current_user.id)
    .tag{:style => "display:inline-block;"}
      .col.sizefit.tag_name
        #{tag.name}
      .col.sizefit.tag_count
        (#{tag.taggings_count})
      .col.sizefit.tag_action 
        - if signed_in?
          = link_to raw("<span class='icon icon-16 icon-minus color-black'></span>"), url_for_event(:remove_tag, :story_id => tag.story.id, :tag => tag.name), :remote => true

  - else
    .foreign_tag{:style => "display:inline-block;"}
      .col.sizefit.tag_name
        #{tag.name}
      .col.sizefit.tag_count
        (#{tag.taggings_count})
      .col.sizefit.tag_action 
        - if signed_in?
          = link_to raw("<span class='icon icon-16 icon-plus color-black'></span>"), url_for_event(:add_tag, :story_id => tag.story.id, :tag => tag.name), :remote => true


