/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right #{link_to "> #{@topic.forum.name}", show_community_forum_url(@topic.community, @topic.forum)} 
    .col
      %h3 #{@topic.title}
    .col.content-detail
      .col.sizefit
        = image_tag @topic.user.avatar_url(:thumb)  
      .col.sizefill
        .margin-l20  
          .author 
            来自: #{@topic.user.name} &nbsp; #{@topic.created_at.strftime("%Y-%m-%d %H:%M:%S")} &nbsp; #{@topic.impressionist_count}浏览 &middot; #{@topic.comments_count}回应
          = render_widget :tags, :display, :content => @topic  
          %p #{simple_format @topic.body}          
                    
          - if @topic.user == current_user
            .margin-t20
              %span{:style => "padding-right: 10px;"} #{link_to '> 修改', edit_community_forum_topic_path(@topic.community, @topic.forum, @topic)}
              %span{:style => "padding-right: 10px;"} #{link_to '> 删除', community_forum_topic_path(@topic.community, @topic.forum, @topic), :method => "delete"}
          
          .margin-t20
            .col.sizefit.float-right
              = render_widget :like, :display, :instance => @topic  
            .col.sizefill
              = social_share_button_tag(@topic.title)

          .margin-t30
            #comments
              - @topic.comments.each do |c|
                - if c.persisted?
                  .comment
                    .col.sizefit
                      = image_tag c.commenter.avatar_url(:thumb)
                    .col.sizefill
                      .margin-l20 
                        .author 
                          #{c.created_at.strftime("%Y-%m-%d %H:%M:%S")}&nbsp;&nbsp;&nbsp;来自: #{c.commenter.name}
                          - if c.commenter.id == current_user.id
                            .op-links
                              .col.sizefit.float-right
                                #{link_to '删除', remove_comment_community_topic_path(@topic.community, @topic, c.id)}
                        .comment-body
                          #{simple_format c.body}

            #add_comment
              - if user_signed_in? && @community.users.include?(current_user)        
                = form_tag comment_community_topic_url(@community, @topic), :method => :get do
                  %p 你的回应...
                  %p  
                    = text_area_tag :comment, '', :size => "66x6" 
                  %p
                    = submit_tag '加上去' 

  .col.size1of3.margin-t20
    .margin-l20
      = render :partial => "shared/content_sidebar", :locals => {:widget => @topic.forum}                   
             
   