- present item, ArticlePresenter do |presenter|
  %h4 #{presenter.title}          
  - if presenter.image
    .col.sizefit.float-right
      #{presenter.image}
    .col.sizefill
      %p{:style => "color: #999;"} 
        %small #{presenter.metadata}
      .margin-r20
        %p #{presenter.text} 
  - else
    %p{:style => "color: #999;"} 
      %small #{presenter.metadata}
    %p #{presenter.text}  

  .tags
    标签： 
    = render :partial => "tags", :locals => {:tags => item.model_tags}  
  .source #{presenter.stats} 
      