- present item, ArticlePresenter do |presenter|
  %h4 #{presenter.title}          
  - if presenter.image
    .col.sizefit.float-right
      #{presenter.image}
    .col.sizefill
      %p{:style => "color: #999;"} 
        %small #{presenter.metadata}
      .margin-r20
        %p #{presenter.text} 
  - else
    %p{:style => "color: #999;"} 
      %small #{presenter.metadata}
    %p #{presenter.text}  

  - unless item.tags.nil?
    .tags
      %ul.nav.blocks
        - item.tags.each do |tag|
          %li
            %a #{tag}
  .source #{presenter.stats} 
      