- case content
- when "Article"
    .button{:style => "background:#deede0;color:#589c66;border:none;"} 文章
- when "Blog"
    .button{:style => "background:#dbedf9;color:#5588aa;border:none;"} 日记
- when "Video"
    .button{:style => "background:#fdefa4;color:#b37043;border:none;"} 视频
- when "Topic"
    .button{:style => "background:#fae9da;color:#ca6445;border:none;"} 讨论
- when "Question"
    .button{:style => "background:#ffccff;color:#a95b75;border:none;"} 问答
/ - case category.to_s
/ - when "健康知识"
/     .button{:style => "background:#deede0;color:#589c66;border:none;"} #{category.to_s}
/ - when "就医指南"
/     .button{:style => "background:#dbedf9;color:#5588aa;border:none;"} #{category.to_s}
/ - when "治疗交流"
/     .button{:style => "background:#fdefa4;color:#b37043;border:none;"} #{category.to_s}
/ - when "护理园地"
/     .button{:style => "background:#fae9da;color:#ca6445;border:none;"} #{category.to_s}
/ - when "用药常识"
/     .button{:style => "background:#ffccff;color:#a95b75;border:none;"} #{category.to_s}
                   