- present item, TopicPresenter do |presenter|
  %h4 #{presenter.title}    
  %p 
    %small{:style => "color: #999;"} #{presenter.metadata}  
  %p #{presenter.text}  

  - unless item.model_tags.empty?
    .tags 
      .col.sizefit
        %span.icon.icon-tags.color-black
        标签:&nbsp;
      = render :partial => "tags", :locals => {:tags => item.model_tags} 
  .source #{presenter.stats} 