- present item, VideoPresenter do |presenter|
  %h4 #{presenter.title}    
  %p 
    %small{:style => "color: #999;"} #{presenter.metadata}  
  %p{:style => "font-size: 90%;"} #{presenter.text} 
  .col
    .clickable.video{:src => "#{item.src}"}
      = image_tag item.thumb_url, :class=> "thumb"
      .play_video

  .source #{presenter.stats} 
  
   