/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render_widget :section_list, :display, :community => @community
  .margin-t20
    %h2 社群管理
    .cell  
      = form_for @community, :html => { :multipart => true } do |f|
        %p
          = f.label "小站名称:"
          = @community.name
        %p
          = f.label "小站房间数:"  
          = @community.sections.count
          = link_to '添加房间', community_sections_path(@community), :method => :post
        %p
          = f.label "描述:"   
          = f.text_area :brief, :size => "60x6"
        %p
          = f.label "组织机构:"   
          = f.text_field :organization
        %p
          = f.label "科室:"   
          = f.text_field :dept     
        %p
          = f.label "职称:"   
          = f.text_field :title 
        %p
          = f.label "主治疾病:"
          = f.text_field :conditions  
        %p
          = f.check_box :offline, checked: (@community.offline == "1" ? "checked" : "")    
          = f.label "维护中"
        %p  
          = f.label "维护原因："
          = f.text_field :offline_reason  
        %p
          社群Logo图片最大不得超过2MB(.jpg, .jpeg, .png, .gif)
        %p
          = image_tag @community.logo_url(:thumb)   
        %p
          = f.file_field :logo 
        %p
          = f.submit "保存"  