- @page = "communities"

/Page
.site-center.center-page
  .col.size1of4    
    = form_tag communities_path, :method => "get" do
      .section.categories
        .header
          %h5 类别
        .body
          / %p
          /   = radio_button_tag "category", "all", (params[:category].nil? || params[:category] == "all")
          /   全部
          %p
            = radio_button_tag "category", "doctor", (params[:category] == "doctor")
            医生社群
          %p  
            = radio_button_tag "category", "health-group", (params[:category] == "health-group")
            健康社群
          %p   
            = radio_button_tag "category", "patient-group", (params[:category] == "patient-group")
            病友社群

      .section.list
        .header
          %h5 人气
        .body.menu
          %ul.left.nav
            %li{:class => (params[:scope] == "all" ? "active" : "")}
              %a 所有  
              = radio_button_tag "scope", "all", (params[:scope] == "all"), hidden: true
            %li{:class => (params[:scope] == "hot" ? "active" : "")}
              %a 最热  
              = radio_button_tag "scope", "hot", (params[:scope] == "hot"), hidden: true 
            %li{:class => (params[:scope] == "new" ? "active" : "")}
              %a 新增
              = radio_button_tag "scope", "new", (params[:scope] == "new"), hidden: true  
            %li{:class => (params[:scope] == "classic" ? "active" : "")}
              %a 精选  
              = radio_button_tag "scope", "classic", (params[:scope] == "classic"), hidden: true    
          
             
  
  .col.size3of4
    .margin-l30
      .panel
        .header
          所有社群
        - @communities.each do |c|
          .body.community-row
            .col.sizefit
              .community-img-45
                = image_tag c.logo_url(:thumb)
            .col.sizefill
              .col.size3of5
                .community-info
                  %h3 #{link_to c.name, community_path(c)}  
                  %p.owner-info 儿科 &middot; 主治医师
                  %p.addtl-info 呼吸道疾病, 小儿麻痹
              .col.size2of5  
                %p #{truncate strip_tags(c.brief), length: 54, omission: '.....'}  


:javascript
  $(document).ready(function () {
    $("input:radio").change(function(){
      $("form").submit();
    }); 

    $(".menu li a").click(function(){
      $(this).next().prop("checked", true).change();
    });
  });