/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}
  / .header-info{:style => "background:#398fd1; color:#fff"}
  /   .col.sizefit.padding-l30.padding-r30
  /     .doc-image.margin-t20
  /       .p240-box
  /         %a{:href => "#"}
  /           %img{:src => "#{asset_path 'doctors/126708301394155.jpg'}" }

  /   .col.sizefill
  /     .doc-community-info.margin-t20
  /       %h3 #{@community.name} 
 
  /       %p 
  /         四川成都华西医院 儿科 主任医师 副教授
        
  /     .doc-expertise.padding-r20
  /       %p
  /         #{@community.brief}
     
  /     .col.size1of2
  /       .doc-share.margin-t20
  /         %p 如果觉得对你的家人、朋友有帮助，分享给TA吧


  .margin-t30{:style => "min-height:400px;"}
    %h1 #{@community.offline_reason}



