/ Page
.site-center
  = render :partial => "shared/community_head", :locals => {:community => @community}

  .margin-t20
    = render :partial => "shared/section_list", :locals => {:sections => @sections, :current_section => @current_section}

  .col.size2of3.margin-t20
    .float-right
      #{link_to "> 回#{@current_section.name}", community_section_url(@community, @current_section)}
    .col
      %h3 #{@forum.name}
      - if (can? :update, @forum.community) || (can? :participate, @forum.community)
        %p{:style => "text-align:right;"} #{link_to '+发言', new_community_forum_topic_path(@forum.community, @forum), :class =>'color-orange'}
      .cell.forum
        %table.horizontal-border
          %tr
            %th.size3of8 话题
            %th.size2of8 作者
            %th.size1of8 回应
            %th.size2of8 更新时间
          - @forum.topics.newest.each do |t|
            %tr 
              %td #{link_to t.title, show_community_topic_url(t.community, t)}
              %td #{t.user.name}
              %td #{t.comments_count}
              / %td #{time_ago_in_words(t.created_at).capitalize}前
              %td #{t.last_updated_at.strftime("%Y-%m-%d %H:%M:%S")} 

  .col.size1of3.margin-t20
    .margin-l20
      = render :partial => "shared/content_sidebar", :locals => {:widget => @forum}                   
